@using Microsoft.AspNet.Identity
@using ClotheOurKids.Model

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @RenderSection("openGraph", required: false)

    <title>Clothe Our Kids of North Alabama</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">


    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet"> 
    
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css/bundles")
    @Styles.Render("~/Content/plugins/mMenu-6.1/dist/bundles")

    <link href="~/Content/plugins/select2-4.0.3/css/select2.min.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css/myBundles")
    
    @Scripts.Render("~/bundles/modernizr")
     
    <style>
        /*.wow {
            opacity: 0;
        }*/

        .dropdown-menu .dropdown-item:active {
            background: #2196F3
        }
        

    </style>

    @RenderSection("pageCSS", required: false)

</head>
<body id="bodyDiv" class="kids-skin">
    @Html.Partial("_LoginForm", new ClotheOurKids.Web.Models.LoginViewModel())
    <div id="page-wrapper">       

        <header>

            <div class="container-fluid navContainer d-flex justify-content-lg-center">
                <div class="row align-items-center headerPad justify-content-lg-center">
                    <div class="column-one d-lg-flex">

                        <a class="logo align-self-center" href="@Url.RouteUrl("Home")">
                            <span class="logo-container">
                            </span>
                        </a>

                        <nav id="navbar" class="navbar navbar-expand-md navbar-light z-depth-0">
                            <div class="d-none d-lg-block">    
                                    <!--Links-->
                                    <ul class="navbar-nav mr-auto" id="mainSiteMenu">
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Home")">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown btn-group">
                                            <span class="nav-link waves-effect waves-light" id="AboutMeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</span>
                                            <div class="dropdown-menu dropdown-primary" aria-labelledby="AboutMeMenu">
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("OurHistory")">Our History</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("LeadershipPage")">Leadership</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("OurWork")">Our Work</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Stories")">Stories</a>
                                        </li>
                                        <li class="nav-item">
                                            @if (Request.IsAuthenticated)
                                            {
                                                <a class="nav-link waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                                            }
                                            else
                                            {
                                                <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                            }                                            
                                        </li>
                                        @if (Request.IsAuthenticated)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("ManageAccount")">Account</a>
                                            </li>

                                            @*<li class="nav-item dropdown">
                                                <span class="nav-link waves-effect waves-light" id="AccountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</span>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="AccountMenu">
                                                    <a class="dropdown-item waves-effect waves-light" href="#">Logout</a>
                                                    <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("ManageAccount")">Manage Account</a>
                                                </div>
                                            </li>*@
                                        }

                                    </ul>
                                
                            </div>
                            
                        </nav>
                        <nav id="mobileMenu" class="d-lg-none">
                            <ul>
                                <li>
                                    <a href="@Url.RouteUrl("Home")">Home</a>
                                </li>
                                <li><span>About Us</span>
                                    <ul>
                                        <li class="top-level"><a>About Us</a></li>
                                        <li><a href="@Url.RouteUrl("OurHistory")">Our History</a></li>
                                        <li><a href="@Url.RouteUrl("LeadershipPage")">Leadership</a></li>
                                        <li><a href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a></li>
                                        <li><a href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.RouteUrl("OurWork")">Our Work</a></li>
                                <li><a href="@Url.RouteUrl("Stories")">Stories</a></li>
                                <li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="nav-link waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                    } 
                                </li>
                                <li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a href="@Url.RouteUrl("ManageAccount")">Account</a>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-two d-flex justify-content-start">
                        <ul id="desktopCta" class="default header-cta-buttons d-none d-xl-block">
                            <li>
                                <a class="btn btn-rounded bg-red" href="@Url.RouteUrl("Give")">Give</a>
                            </li>
                            <li>
                                <a class="btn btn-rounded bg-yellow" href="@Url.RouteUrl("GetInvolved")">Get Involved</a>
                            </li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="btn btn-rounded bg-green" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                                    }

                                }
                                else
                                {
                                    <a class="btn btn-rounded bg-green" data-toggle="modal" data-target="#modal-login">Log In</a>
                                }
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-lg-none d-flex align-self-center justify-content-end" style="width:100%;">

                    <button id="mMenuToggle" class="hamburger hamburger--collapse align-self-end" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <ul id="md-cta-buttons" class="default header-cta-buttons d-xl-none full-width-buttons">
                <li>
                    <a class="btn btn-rounded bg-red" href="@Url.RouteUrl("Give")">Give</a>
                </li>
                <li>
                    <a class="btn btn-rounded bg-yellow" href="@Url.RouteUrl("GetInvolved")">Get Involved</a>
                </li>
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="btn btn-rounded bg-green" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                        }

                    }
                    else
                    {
                        <a class="btn btn-rounded bg-green" data-toggle="modal" data-target="#modal-login">Log In</a>
                    }
                </li>
            </ul>

            <div class="clearfix"></div>

            @RenderSection("headerMask", required: false)

        </header>

        <main class="pt-5 pb-4">
            @RenderBody()
        </main>

        <footer class="page-footer pt-4 mt-4 text-center text-md-left bg-red">
            <!--/Footer Links-->
            <div class="container-fluid">
                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col col-md-3 ml-3 mt-auto mb-auto">
                        <p>
                            P.O. Box 565 <br />
                            Somerville, AL 35670 <br />
                            <a href="mailto:info@GiveKidsClothes.com">info@GiveKidsClothes.com</a>
                        </p>
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="d-none d-md-block col-md-2 ml-auto">
                        <h5 class="title">About Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.RouteUrl("OurHistory")">Our History</a></li>
                            <li><a href="@Url.RouteUrl("LeadershipPage")">Leadership</a></li>
                            <li><a href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a></li>
                            <li><a href="@Url.RouteUrl("FAQ")">F.A.Q</a></li>
                        </ul>
                    </div>

                    <!--/.Second column-->


                    <!--Third column-->
                    <div class="d-none d-md-block col-md-2 col-lg-2">
                        <h5 class="title">What We Do</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.RouteUrl("OurWork")">Our Work</a></li>
                            <li><a href="@Url.RouteUrl("Stories")">Stories</a></li>
                        </ul>
                    </div>
                    <!--/.Third column-->

                    <!--Fourth column-->
                    <div class="d-none d-md-block col-md-2 col-lg-2">
                        <h5 class="title">Take Action</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.RouteUrl("Give")">Give</a></li>
                            <li><a href="@Url.RouteUrl("GetInvolved")">Get Involved</a></li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    <a class="waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                                }
                                else
                                {
                                    <a class="waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                }
                        </ul>
                    </div>
                    <!--/.Fourth column-->

                </div>
                <!--/First row-->


            </div>
            <!--/Footer Links-->


            <hr>

            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <ul class="list-unstyled d-flex justify-content-center mb-0 py-4 list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/clotheourkidsofnorthalabama" class="p-2 m-2 fa-lg fb-ic"><i class="fa fa-facebook white-text fa-lg"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/clotheourkids/" class="p-2 m-2 fa-lg tw-ic"><i class="fa fa-twitter white-text fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Social buttons-->
            @*<div class="social-section">
                <ul>
                    <li><a href="https://www.facebook.com/clotheourkidsofnorthalabama" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
                    <li><a href="https://www.instagram.com/clotheourkids/" class="btn-floating btn-sm btn-ins"><i class="fa fa-instagram"> </i></a></li>
                </ul>
            </div>*@
            <!--/.Social buttons-->

            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    © <span class="thisYear"></span> <a class="d-none d-sm-inline-block ml-1" href="@Url.RouteUrl("Home")"> Clothe Our Kids of North Alabama </a>

                </div>
            </div>
            <!--/.Copyright-->


            <div id="largeScreenIndicator"></div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/requiredJs")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="~/Scripts/ViewScripts/Layout.js"></script>


    @RenderSection("customScript", required: false)

    <!--[if lt IE 9]-->
    @Scripts.Render("~/bundles/ie9")
    <!--[endif]-->


</body>

</html>
