@using Microsoft.AspNet.Identity
@using ClotheOurKids.Model

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Clothe Our Kids of Morgan County</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">


    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet"> 
    @Styles.Render("~/bundles/css")
    
    @Scripts.Render("~/bundles/modernizr")
     
    <style>
        .wow {
            opacity: 0;
        }

        .dropdown-menu .dropdown-item:active {
            background: #2196F3
        }
        
    </style>

    @RenderSection("pageCSS", required: false)

</head>
<body id="bodyDiv" class="kids-skin">
    @Html.Partial("_LoginForm", new ClotheOurKids.Web.Models.LoginViewModel())
    <div id="page-wrapper">       

        <header>

            <div class="container-fluid navContainer mt-sm-1 mb-sm-1 d-flex justify-content-lg-center">
                <div class="row align-items-center headerPad justify-content-lg-center">
                    <div class="column-one d-lg-flex">

                        <a class="logo align-self-center" href="@Url.RouteUrl("Home")">
                            <span class="logo-container">
                            </span>
                        </a>

                        <div id="navbar" class="navbar navbar-toggleable-md navbar-light z-depth-0">
                            <div class="hidden-md-down">    
                                    <!--Links-->
                                    <ul class="nav navbar-nav" id="mainSiteMenu">
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Home")">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown btn-group">
                                            <span class="nav-link waves-effect waves-light" id="AboutMeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</span>
                                            <div class="dropdown-menu dropdown-primary" aria-labelledby="AboutMeMenu">
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("WhoWeAre")">Who We Are</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("LeadershipPage")">Leadership</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("Home")">Who We Serve</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("OurWork")">Our Work</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Home")">Stories</a>
                                        </li>
                                        <li class="nav-item">
                                            @if (Request.IsAuthenticated)
                                            {
                                                <a class="nav-link waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                                            }
                                            else
                                            {
                                                <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                            }                                            
                                        </li>
                                        @if (Request.IsAuthenticated)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("ManageAccount")">Account</a>
                                            </li>

                                            @*<li class="nav-item dropdown">
                                                <span class="nav-link waves-effect waves-light" id="AccountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</span>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="AccountMenu">
                                                    <a class="dropdown-item waves-effect waves-light" href="#">Logout</a>
                                                    <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("ManageAccount")">Manage Account</a>
                                                </div>
                                            </li>*@
                                        }

                                    </ul>
                                
                            </div>
                            <div class="hidden-lg-up navbar-inner">
                                <div class="container">
                                    <button id="mMenuToggle" class="hamburger hamburger--collapse" type="button">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                                    </button>
                                    <h6 style="font-size: 12px;">MENU</h6>
                                    @*<a class="navbar-toggler" style="text-align:center;" href="#mobileMenu">
                                        <span class="navbar-toggler-icon"></span>
                                        <h6 style="font-size: 12px;">MENU</h6>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                        <nav id="mobileMenu" class="hidden-lg-up">
                            <ul>
                                <li>
                                    <a href="@Url.RouteUrl("Home")">Home</a>
                                </li>
                                <li><span>About Us</span>
                                    <ul>
                                        <li class="top-level"><a>About Us</a></li>
                                        <li><a href="@Url.RouteUrl("WhoWeAre")">Who We Are</a></li>
                                        <li><a href="@Url.RouteUrl("LeadershipPage")">Leadership</a></li>
                                        <li><a href="@Url.RouteUrl("Home")">Who We Serve</a></li>
                                        <li><a href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.RouteUrl("OurWork")">Our Work</a></li>
                                <li><a href="@Url.RouteUrl("Home")">Stories</a></li>
                                <li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="nav-link waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                    } 
                                </li>
                                <li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a href="@Url.RouteUrl("ManageAccount")">Account</a>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-two d-flex justify-content-start">
                        <ul id="desktopCta" class="default header-cta-buttons hidden-lg-down">
                            <li>
                                <a class="btn btn-rounded btn-danger" href="@Url.RouteUrl("Donate")">Give</a>
                            </li>
                            <li>
                                <a class="btn btn-rounded btn-info" href="@Url.RouteUrl("GetInvolved")">Get Involved</a>
                            </li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="btn btn-rounded btn-light-green" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                                    }

                                }
                                else
                                {
                                    <a class="btn btn-rounded btn-light-green" data-toggle="modal" data-target="#modal-login">Log In</a>
                                }
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul id="md-cta-buttons" class="default header-cta-buttons hidden-xl-up full-width-buttons">
                <li>
                    <a class="btn btn-rounded btn-danger" href="@Url.RouteUrl("Donate")">Give</a>
                </li>
                <li>
                    <a class="btn btn-rounded btn-info" href="@Url.RouteUrl("GetInvolved")">Get Involved</a>
                </li>
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="btn btn-rounded btn-light-green" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                        }

                    }
                    else
                    {
                        <a class="btn btn-rounded btn-light-green" data-toggle="modal" data-target="#modal-login">Log In</a>
                    }
                </li>
            </ul>

            <div class="clearfix"></div>

            @RenderSection("headerMask", required: false)

        </header>

        <main class="pt-4">
            @RenderBody()
        </main>

        <footer>
            <div id="largeScreenIndicator"></div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/requiredJs")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="~/Scripts/ViewScripts/Layout.js"></script>


    @RenderSection("customScript", required: false)

    <!--[if lt IE 9]-->
    @Scripts.Render("~/bundles/ie9")
    <!--[endif]-->


</body>

</html>
