@using Microsoft.AspNet.Identity
@using ClotheOurKids.Model

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @RenderSection("openGraph", required: false)

    <title>Clothe Our Kids of North Alabama</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Mukta:400,500,600,700" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet"> 
    
    <!-- Font awesome goes here 
        <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    -->

    <script defer src="~/Content/plugins/font-awesome/fontawesome-all.min.js"></script>

    @Styles.Render("~/Content/css/bundles")
    @Styles.Render("~/Content/plugins/mMenu/dist/bundles")

    <link href="~/Content/plugins/select2-4.0.3/css/select2.min.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css/myBundles")
    
    @Scripts.Render("~/bundles/modernizr")
     
    <style>
        /*.wow {
            opacity: 0;
        }*/

        .dropdown-menu .dropdown-item:active {
            background: #2196F3
        }
        

    </style>

    @RenderSection("pageCSS", required: false)

</head>
<body id="bodyDiv" class="hidden-sn kids-skin">
    @Html.Partial("_LoginForm", new ClotheOurKids.Web.Models.LoginViewModel())

    <div id="page-wrapper">

        <!--Double navigation-->
        <header>
            <!-- Navbar -->
            <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav bg-blue">
                <a class="navbar-logo-container" href="@Url.RouteUrl("Home")">
                    <img class="navbar-logo" src="~/Content/img/logo/MainLogo_color_scaled_noTagLine.png" alt="" />
                </a>
                <ul class="nav navbar-nav nav-flex-icons d-none d-lg-flex mr-auto" id="mainSiteMenu" style="margin-left: 140px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-logo" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("OurHistory")">Our History</a>
                            <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("LeadershipPage")">Leadership</a>
                            <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a>
                            <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light text-logo" href="@Url.RouteUrl("OurWork")"><span class="clearfix d-none d-sm-inline-block">Our Work</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Stories")"><span class="clearfix d-none d-sm-inline-block">Stories</span></a>
                    </li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            <a class="nav-link waves-effect waves-light text-logo" href="@Url.Action("RequestClothesForm", "RequestClothes")"><span class="clearfix d-none d-sm-inline-block">Request Clothes</span></a>
                        }
                        else
                        {
                            <a class="nav-link waves-effect waves-light text-logo" href="@Url.RouteUrl("RequestClothes")"><span class="clearfix d-none d-sm-inline-block">Request Clothes</span></a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light text-logo" href="@Url.RouteUrl("GetInvolved")"><span class="clearfix d-none d-sm-inline-block">Get Involved</span></a>
                    </li>

    

                        @*<li class="nav-item dropdown">
                                <span class="nav-link waves-effect waves-light" id="AccountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</span>
                                <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="AccountMenu">
                                    <a class="dropdown-item waves-effect waves-light" href="#">Logout</a>
                                    <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("ManageAccount")">Manage Account</a>
                                </div>
                            </li>*@
                    

                </ul>

                <!-- SideNav slide-out button -->
                @*<div class="float-right d-lg-none">*@
                <div class="navbar-right d-flex flex-row flex-nowrap justify-content-end align-middle align-items-center">
                    <button class="btn bg-red rounded-top rounded-bottom" type="button">Donate</button>
                    <ul class="navbar-nav ml-auto nav-flex-icons mr-2">  
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item dropdown d-lg-flex d-none" style="padding-top:15px; padding-bottom: 15px;">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="accountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-2x fa-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenu">
                                    <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("ManageAccount")">My Account</a>
                                    <a class="dropdown-item waves-effect waves-light" data-toggle="modal" data-target="#modal-login">Log In</a>
                                </div> 
                            </li>
                        }
                        else
                        {
                            
                            <li class="nav-item d-lg-flex d-none">
                                <a class="nav-link text-center waves-effect waves-light" data-toggle="modal" data-target="#modal-login"><i class="fas fa-2x fa-user"></i> <br />Log In</a>
                            </li>
                        }
                        
                    </ul>
                    <div class="bg-logo d-flex" style="height: 100%;">
                        <button id="mMenuToggle" class="hamburger hamburger--collapse align-middle d-lg-none" type="button" style="margin-top: 8px;">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>

                    </div>
                    
                    @*<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>*@
                </div>
                
            </nav>
            <!-- /.Navbar -->
            <nav id="mobileMenu" class="d-lg-none mmenu-top bg-logo">
                <ul>
                    <li>
                        <span>About Us</span>
                        <ul>
                            <li><a href="@Url.RouteUrl("OurHistory")">Our History</a></li>
                            <li><a href="@Url.RouteUrl("LeadershipPage")">Leadership</a></li>
                            <li><a href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a></li>
                            <li><a href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.RouteUrl("OurWork")">Our Work</a></li>
                    <li><a href="@Url.RouteUrl("Stories")">Stories</a></li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                        }
                        else
                        {
                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                        }
                    </li>
                    <li><a href="@Url.RouteUrl("GetInvolved")">Get Involved</a></li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <a href="@Url.RouteUrl("ManageAccount")">Account</a>
                        }
                        else
                        {
                            <a data-toggle="modal" data-target="#modal-login">Log In</a>
                        }
                    </li>
                </ul>
            </nav>



            @RenderSection("headerMask", required: false)

        </header>
        <!--/.Double navigation-->

        <main>
            @RenderBody()
        </main>

        <footer class="page-footer pt-4 text-center text-md-left bg-red">
            <!--/Footer Links-->
            <div class="container-fluid">
                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col col-md-3 ml-3 mt-auto mb-auto">
                        <p>
                            P.O. Box 565 <br />
                            Somerville, AL 35670 <br />
                            <a href="mailto:info@GiveKidsClothes.com">info@GiveKidsClothes.com</a>
                        </p>
                    </div>
                    <!--/.First column-->
                    <!--Second column-->
                    <div class="d-none d-md-block col-md-2 ml-auto">
                        <h5 class="title">About Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.RouteUrl("OurHistory")">Our History</a></li>
                            <li><a href="@Url.RouteUrl("LeadershipPage")">Leadership</a></li>
                            <li><a href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a></li>
                            <li><a href="@Url.RouteUrl("FAQ")">F.A.Q</a></li>
                        </ul>
                    </div>

                    <!--/.Second column-->
                    <!--Third column-->
                    <div class="d-none d-md-block col-md-2 col-lg-2">
                        <h5 class="title">What We Do</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.RouteUrl("OurWork")">Our Work</a></li>
                            <li><a href="@Url.RouteUrl("Stories")">Stories</a></li>
                        </ul>
                    </div>
                    <!--/.Third column-->
                    <!--Fourth column-->
                    <div class="d-none d-md-block col-md-2 col-lg-2">
                        <h5 class="title">Take Action</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.RouteUrl("Give")">Give</a></li>
                            <li><a href="@Url.RouteUrl("GetInvolved")">Get Involved</a></li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    <a class="waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                                }
                                else
                                {
                                    <a class="waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                }
                        </ul>
                    </div>
                    <!--/.Fourth column-->

                </div>
                <!--/First row-->


            </div>
            <!--/Footer Links-->


            <hr>

            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <ul class="list-unstyled d-flex justify-content-center mb-0 py-4 list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/clotheourkidsofnorthalabama" class="p-2 m-2 fa-lg fb-ic"><i class="fab fa-facebook white-text fa-lg"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/clotheourkids/" class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Social buttons-->
            @*<div class="social-section">
                    <ul>
                        <li><a href="https://www.facebook.com/clotheourkidsofnorthalabama" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
                        <li><a href="https://www.instagram.com/clotheourkids/" class="btn-floating btn-sm btn-ins"><i class="fa fa-instagram"> </i></a></li>
                    </ul>
                </div>*@
            <!--/.Social buttons-->
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    © <span class="thisYear"></span> <a class="d-none d-sm-inline-block ml-1" href="@Url.RouteUrl("Home")"> Clothe Our Kids of North Alabama </a>

                </div>
            </div>
            <!--/.Copyright-->


            <div id="largeScreenIndicator"></div>
        </footer>
    </div>


        @Scripts.Render("~/bundles/requiredJs")
        @RenderSection("scripts", required: false)


        <script type="text/javascript" src="~/Scripts/ViewScripts/Layout.js"></script>


        @RenderSection("customScript", required: false)

        <!--[if lt IE 9]-->
        @Scripts.Render("~/bundles/ie9")
        <!--[endif]-->


</body>

</html>
