@using Microsoft.AspNet.Identity
@using ClotheOurKids.Model

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Clothe Our Kids</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Mukta:400,500,600,700" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet"> 
    
    <!-- Font awesome goes here 
        <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    -->

    <script defer src="~/Content/plugins/font-awesome/fontawesome-all.min.js"></script>

    @Styles.Render("~/Content/css/bundles")
    @Styles.Render("~/Content/plugins/mMenu/dist/bundles")

    <link href="~/Content/plugins/select2-4.0.3/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/sl-1.2.5/datatables.min.css" />

    

    @Styles.Render("~/Content/css/myBundles")
    
    @Scripts.Render("~/bundles/modernizr")
     
    <style>
        /*.wow {
            opacity: 0;
        }*/

        .dropdown-menu .dropdown-item:active {
            background: #2196F3
        }
        

    </style>

    @RenderSection("pageCSS", required: false)

</head>
<body id="bodyDiv" class="fixed-sn white-skin grey lighten-3">
    <!--Double navigation-->
    <header>
        
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav fixed white">
            <div class="custom-scrollbar">
                <a class="logo-wrapper waves-effect" href="@Url.RouteUrl("Home")">
                    <img src="~/Content/img/logo/MainLogo_color_scaled_noTagLine.png" class="img-fluid flex-center">
                </a>

                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item active waves-effect">
                        <i class="fas fa-chart-pie mr-3 ml-3"></i>Dashboard
                    </a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-user mr-3 ml-3"></i>Profile
                    </a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-table mr-3 ml-3"></i>Your Requests
                    </a>
                </div>

            </div>
        </div>
        <!--/. Sidebar navigation -->


        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav navbar-light white black-text">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>Clothe Our Kids</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link border border-light rounded waves-effect yellow lighten-1">Request Clothes</a>
                </li>
                <li class="nav-item ml-3">
                    @if (Request.IsAuthenticated)
                    {
                        <a class="nav-link border border-light rounded waves-effect">Log Out</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="nav-link border border-light rounded waves-effect">Log In</a>
                    }
                    
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->

    <!--Main Layout-->
    <main class="mx-lg-5">
        @RenderBody()
    </main>
    <!--Main Layout-->

    <footer class="page-footer pt-4 text-center text-md-left bg-red">
        <!--/Footer Links-->
        <div class="container-fluid">
            <!--First row-->
            <div class="row">
                <!--First column-->
                <div class="col col-md-3 ml-3 mt-auto mb-auto">
                    <p>
                        P.O. Box 565 <br />
                        Somerville, AL 35670 <br />
                        <a href="mailto:info@GiveKidsClothes.com">info@GiveKidsClothes.com</a>
                    </p>
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="d-none d-md-block col-md-2 ml-auto">
                    <h5 class="title">About Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.RouteUrl("OurHistory")">Our History</a></li>
                        <li><a href="@Url.RouteUrl("LeadershipPage")">Leadership</a></li>
                        <li><a href="@Url.RouteUrl("WhoWeServe")">Who We Serve</a></li>
                        <li><a href="@Url.RouteUrl("FAQ")">F.A.Q</a></li>
                    </ul>
                </div>

                <!--/.Second column-->
                <!--Third column-->
                <div class="d-none d-md-block col-md-2 col-lg-2">
                    <h5 class="title">What We Do</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.RouteUrl("OurWork")">Our Work</a></li>
                        <li><a href="@Url.RouteUrl("Stories")">Stories</a></li>
                    </ul>
                </div>
                <!--/.Third column-->
                <!--Fourth column-->
                <div class="d-none d-md-block col-md-2 col-lg-2">
                    <h5 class="title">Take Action</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.RouteUrl("Give")">Give</a></li>
                        <li><a href="@Url.RouteUrl("GetInvolved")">Get Involved</a></li>
                        <li>
                            @if (Request.IsAuthenticated)
                            {
                                <a class="waves-effect waves-light" href="@Url.Action("RequestClothesForm", "RequestClothes")">Request Clothes</a>
                            }
                            else
                            {
                                <a class="waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                            }
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
            <!--/First row-->


        </div>
        <!--/Footer Links-->


        <hr>

        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12">
                    <ul class="list-unstyled d-flex justify-content-center mb-0 py-4 list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/clotheourkidsofnorthalabama" class="p-2 m-2 fa-lg fb-ic"><i class="fab fa-facebook white-text fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/clotheourkids/" class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Social buttons-->
        @*<div class="social-section">
                <ul>
                    <li><a href="https://www.facebook.com/clotheourkidsofnorthalabama" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
                    <li><a href="https://www.instagram.com/clotheourkids/" class="btn-floating btn-sm btn-ins"><i class="fa fa-instagram"> </i></a></li>
                </ul>
            </div>*@
        <!--/.Social buttons-->
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                © <span class="thisYear"></span> <a class="d-none d-sm-inline-block ml-1" href="@Url.RouteUrl("Home")"> Clothe Our Kids of North Alabama </a>

            </div>
        </div>
        <!--/.Copyright-->


        <div id="largeScreenIndicator"></div>
    </footer>





    @Scripts.Render("~/bundles/requiredJs")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/sl-1.2.5/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewScripts/Layout.js"></script>


    @RenderSection("customScript", required: false)

    <!--[if lt IE 9]-->
    @Scripts.Render("~/bundles/ie9")
    <!--[endif]-->

</body>
</html>
