@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Clothe Our Kids of Morgan County</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">


    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
     
    <style>
        .wow {
            opacity: 0;
        }

        .dropdown-menu .dropdown-item:active {
            background: #2196F3
        }
        
    </style>

    @RenderSection("pageCSS", required: false)

</head>
<body id="bodyDiv" class="kids-skin">
    <div id="page-wrapper">

        @Html.Partial("_LoginForm")

        <header>

            <div class="container-fluid navContainer mt-sm-1 mb-sm-1 d-flex justify-content-lg-center">
                <div class="row align-items-center headerPad justify-content-lg-center">
                    <div class="column-one d-lg-flex justify-content-lg-center">

                        <a class="logo align-self-center" href="@Url.RouteUrl("Home")">
                            <span class="logo-container">
                                <img src="~/Content/img/logo/ClotheOurKidsLogo_withMC_Scaled.png" alt="Clothe Our Kids" />
                            </span>
                        </a>

                        <div id="navbar" class="navbar navbar-toggleable-md navbar-light z-depth-0">
                            <div class="hidden-md-down">    
                                    <!--Links-->
                                    <ul class="nav navbar-nav" id="mainSiteMenu">
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Home")">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown btn-group">
                                            <span class="nav-link waves-effect waves-light" id="AboutMeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</span>
                                            <div class="dropdown-menu dropdown-primary" aria-labelledby="AboutMeMenu">
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("WhatWeDo")">What We Do</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("WhoWeAre")">Who We Are</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("WhatWeGive")">What We Give</a>
                                                <a class="dropdown-item waves-effect waves-light" href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Home")">Who We Serve</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("Home")">Stories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="@Url.RouteUrl("RequestClothes")">Request Clothes</a>
                                        </li>
                                    </ul>
                                
                            </div>
                            <div class="hidden-lg-up navbar-inner">
                                <div class="container">
                                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                                    <a class="navbar-toggler" style="text-align:center;" href="#mobileMenu">
                                        <span class="navbar-toggler-icon"></span>
                                        <h6 style="font-size: 12px;">MENU</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <nav id="mobileMenu" class="hidden-lg-up">
                            <ul>
                                <li>
                                    <a href="@Url.RouteUrl("Home")">Home</a>
                                </li>
                                <li><span>About us</span>
                                    <ul>
                                        <li><a href="@Url.RouteUrl("WhatWeDo")">What We Do</a></li>
                                        <li><a href="@Url.RouteUrl("WhoWeAre")">Who We Are</a></li>
                                        <li><a href="@Url.RouteUrl("WhatWeGive")">What We Give</a></li>
                                        <li><a href="@Url.RouteUrl("FAQ")">Frequently Asked Questions</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.RouteUrl("Home")">Who We Serve</a></li>
                                <li><a href="@Url.RouteUrl("Home")">Stories</a></li>
                                <li><a href="@Url.RouteUrl("RequestClothes")">Request Clothes</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-two d-flex justify-content-start">
                        <ul id="desktopCta" class="default header-cta-buttons hidden-lg-down">
                            <li>
                                <a class="btn btn-rounded btn-danger" href="@Url.RouteUrl("Donate")">Give</a>
                            </li>
                            <li>
                                <a class="btn btn-rounded btn-info" href="@Url.RouteUrl("GetInvolved")">Volunteer</a>
                            </li>
                            <li>
                                <a class="btn btn-rounded btn-light-green" data-toggle="modal" data-target="#modal-login">Log In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul id="md-cta-buttons" class="default header-cta-buttons hidden-xl-up full-width-buttons">
                <li>
                    <a class="btn btn-rounded btn-danger" href="@Url.RouteUrl("Donate")">Give</a>
                </li>
                <li>
                    <a class="btn btn-rounded btn-info" href="@Url.RouteUrl("GetInvolved")">Get Involved</a>
                </li>
                <li>
                    <a class="btn btn-rounded btn-light-green" data-toggle="modal" data-target="#modal-login">Log In</a>
                </li>
            </ul>

            <div class="clearfix"></div>

            @RenderSection("headerMask", required: false)

        </header>

        <main class="pt-6">
            @RenderBody()
        </main>

        <footer>
            <div id="largeScreenIndicator"></div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/requiredJs")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">

        var headerAnimationEvent;

        function afterReveal(el) { el.addEventListener('animationend', function (event) { $('.wow').each(function () { $(this).css('opacity', 1); }); }); } new WOW({ callback: afterReveal }).init()

        function animate(element_ID, animation) {

            $(element_ID).addClass('animated ' + animation).one(headerAnimationEvent, function () {                
                $(this).removeClass('animated ' + animation);                
            });
        }

        function whichAnimationEvent() {
            var a,
                el = document.createElement("fakeelement");

            var animations = {
                "animation": "animationend",
                "OAnimation": "oanimationEnd",
                "MozAnimation": "animationEnd",
                "WebkitAnimation": "webkitAnimationEnd"
            }

            for (a in animations) {
                if (el.style[a] !== undefined) {
                    return animations[a];
                }
            }
        }

        function animateCollapse(element_ID, animation) {
            $(element_ID).addClass('animated ' + animation);
            var wait = window.setTimeout(function () {
                $(element_ID).removeClass('animated ' + animation)
            }, 1300
            );
        }

        $(document).ready(function () {

            headerAnimationEvent = whichAnimationEvent();

            //$("#mobileMenu").append($("#mainSiteMenu").clone().attr("id", "mobileMenu").attr("class", ""));
            $('#mobileMenu').mmenu({
                //options
                offCanvas: {
                    "zposition": "front",
                    "position": "right"
                },
                extensions: [
                    "fullscreen",
                    "border-none"
                ],
                setSelected: {
                    "hover": true
                }
            }, {
                //configuration
                offCanvas: {
                    pageSelector: '#page-wrapper'
                }
            });

            //$('#navbarNav').on('show.bs.collapse hide.bs.collapse', function (e) {
            //    if (e.type == 'show') {                    
            //        animateCollapse(this, 'fadeInRight');
            //    }
            //    else {
            //        animateCollapse(this, 'fadeOutRight');
            //    }
            //});
        });

    </script>

    @RenderSection("customScript", required: false);

    <!--[if lt IE 9]-->
    @Scripts.Render("~/bundles/ie9")
    <!--[endif]-->


</body>

</html>
