@using ClotheOurKids.Web.Models
@model LoginViewModel

<!-- Modal Login -->
<div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="w-100"><i class="fa fa-user"></i> Login</h3>
            </div>
            <!--Body-->
            <div class="modal-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control validate" })
                        @Html.LabelFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control validate" })
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="filled-in" id="RememberMe" name="RememberMe" />
                        <label for="RememberMe">Remember Me?</label>
                        <input name="RememberMe" type="hidden" value="false" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                }
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-right">
                    <p>Not a member? <a href="@Url.Action("Register", "Account")">Register</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
