@model ClotheOurKids.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <h2>Change Your Password</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row mt-2">
            <div class="col">
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control validate" })
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control validate" })
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control validate" })
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>

        <div class="row mt-2 text-center">
            <div class="col">
                <input type="submit" value="Change password" class="btn btn-primary btn-rounded btn-lg waves-effect waves-light" />
            </div>
        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}