@section pageCSS
{
    <style>
        html,
        body,
        #page-wrapper,
        header,
        .view {
            height: 100%;
        }

        /* Navigation*/
        /*.navContainer {
            background-color: transparent !important;
            width: 100%;
            position: absolute;
        }

        @@media(max-width: 1199px) {
            .navContainer {
                position: relative;
                border: 0;
            }
        }*/     

        .full-bg-img {
            color: #fff;
        }

        .view {
            background: url("../../Content/img/bg/child-girl-happy.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        footer.page-footer {
            background-color: #7E929C;
        }

        #WhatWeDo {
            cursor: pointer;
            cursor: hand;
        }

        #WhatWeGive {
            cursor: pointer;
            cursor: hand;
        }

        #GetInvolved {
            cursor: pointer;
            cursor: hand;
        }

        #Donate {
            cursor: pointer;
            cursor: hand;
        }

</style>
}


@section headerMask
{

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center align-items-center justify-content-md-start justify-content-sm-center" id="home">
            <ul class="text-center ml-5">
                <li>
                    <h1 class="h1-responsive wow fadeInUp">Clothe Our Kids of Morgan County</h1>
                </li>
                <li>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Giving Clothes. Showing Love. Building Confidence.</p>
                </li>
                <li>
                    <a href="@Url.RouteUrl("GetInvolved")" class="btn btn-outline-white btn-lg wow fadeInLeft" data-wow-delay="0.2s"><i class="fa fa-user left"></i> Get involved!</a>
                    <a href="@Url.RouteUrl("WhatWeDo")" class="btn btn-outline-white btn-lg wow fadeInRight" data-wow-delay="0.2s"><i class="fa fa-book left"></i>Learn more</a>
                </li>
            </ul>
        </div>
    </div>
    <!--/.Mask-->
}


<!-- Main container-->
<div class="container">

    <!--Section: About Us-->
    <section class="section extra-margins" id="about">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">About Us</h1>

        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.4s">
            We are a nonprofit group who is giving clothes and shoes to children in need in Morgan County, Alabama. 
            <br />
            We rely 100% on your clothing and financial donations to ensure we can clothe all of the kids who need our help.
        </p>
    </section>
    <!--/Section: About Us-->

    <hr class="between-sections">

    <!--Section: Find Out More-->
    <section class="section feature-box" id="findOutMore">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Find Out More</h1>
        <!--Section description-->
        <p class="section-description lead wow fadeIn" data-wow-delay="0.4s">Learn more about us!</p>

        <!--First row-->
        <div class="row features-big">
            <!--First column-->
            <div id="WhatWeDo" class="col-md-3 mb-r wow zoomIn">
                <i class="fa fa-area-chart blue-text"></i>
                <h4 class="feature-title">What We Do</h4>
                <p class="grey-text">Learn how we operate and who we help</p>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div id="WhatWeGive" class="col-md-3 mb-r wow zoomIn">
                <i class="fa fa-book green-text"></i>
                <h4 class="feature-title">What We Give</h4>
                <p class="grey-text">Find out what we put in each bag that we give to children</p>
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div id="GetInvolved" class="col-md-3 mb-r wow zoomIn">
                <i class="fa fa-coffee red-text"></i>
                <h4 class="feature-title">Get Involved</h4>
                <p class="grey-text">Find ways to help the children in our county</p>
            </div>
            <!--/Third column-->

            <!--Third column-->
            <div id="Donate" class="col-md-3 mb-r wow zoomIn">
                <i class="fa fa-apple purple-text"></i>
                <h4 class="feature-title">Donate</h4>
                <p class="grey-text">Help us make sure we never have to turn a child away</p>
            </div>
            <!--/Third column-->
        </div>

    </section>
    <!--/Section: Find Out More-->

    <hr class="between-sections">

    <!--Section: Contact-->
    <section class="section" id="contact">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Contact Us</h1>
        
        <div class="row wow zoomIn" data-wow-delay="0.4s">

            <!--First column-->
            <div class="col-sm-8">
                <div id="map" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
            </div>

            <div class="col-12 hidden-sm-up">
                <p></p>
            </div>

            <!--Second column-->
            <div class="col-sm-4">
                <ul class="contact-icons">
                    <li>
                        <i class="fa fa-map-marker fa-2x"></i>
                        <p>Decatur, AL 35603, USA</p>
                    </li>

                    <li>
                        <i class="fa fa-phone fa-2x"></i>
                        <p>256 887 5437</p>
                    </li>

                    <li>
                        <i class="fa fa-envelope fa-2x"></i>
                        <p>info@givekidsclothes.com</p>
                    </li>
                </ul>
            </div>
            <!--.Second column-->

        </div>

    </section>
</div>
<!--/ Main container-->

@section scripts
{
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xc4rPas-4JZpu2txBdfWUtKXASh2O1k&callback=initMap">
    </script>

}

@section customScript
{
    <script type="text/javascript">
        
        function initMap() {

            var var_location = new google.maps.LatLng(34.528204, -86.898599);

            var locations = [
                ['Clothe Our Kids of Morgan County', 34.528204, -86.898599, '317 AL-67, Decatur, AL 35603', '256-887-5437']
            ];

            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: new google.maps.LatLng(locations[0][1], locations[0][2])
            });

            var infowindow = new google.maps.InfoWindow();


            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    title: locations[i][0]
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        var contentString = '<div id="content">' +
                            '<h3 class="h3-responsive">' + locations[i][0] + '</h3>' +
                            '<p>' + locations[i][3] +
                            '<br>Trailer behind Priceville Junior High School, beside the Baseball fields'
                            '<br>' + locations[i][4] +
                        '</div>';
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }


        }


        $(document).ready(function () {

            //$('#navbar').addClass('navbar-dark').removeClass('navbar-light');

            setNavbar();

            $(window).on('resize', function () {
                setNavbar();
            });

            $('#WhatWeDo').click(function () {
                var url = '@Url.RouteUrl("WhatWeDo")';
                window.location = url
            });

            $('#WhatWeGive').click(function () {
                var url = '@Url.RouteUrl("WhatWeGive")';
                window.location = url
            });

            $('#GetInvolved').click(function () {
                var url = '@Url.RouteUrl("GetInvolved")';
                window.location = url
            });

            $('#Donate').click(function () {
                var url = '@Url.RouteUrl("Donate")';
                window.location = url
            });
        });


        function setNavbar() {
            if ($('#large-indicator').is(':visible')) {
                //$('#navbar').removeClass('navbar-light').removeClass('navbar-dark').addClass('navbar-dark');
            }
            else {            
                //$('#navbar').removeClass('navbar-light').removeClass('navbar-dark').addClass('navbar-light');
            }
        }       

    </script>   

}