@model ClotheOurKids.Web.Models.ViewModel.HomeViewModel

@section openGraph {
    <meta property="og:url" content="https://www.givekidsclothes.com" />
    <meta property="og:image" content="https://www.givekidsclothes.com/Content/img/logo/ClotheOurKidsLogo_withNA.png" />
    <meta property="og:title" content="Clothe Our Kids of North Alabama" />
    <meta property="og:type" content="website" />
}
      @section pageCSS
{
    <style>
        html,
        body,
        #page-wrapper,
        header,
        .view {
            height: 100vh;
        }

        /* Navigation*/
        .navContainer {
            width: 100%;
            position: absolute;
        }

        @@media(max-width: 1199px) {
            .navContainer {
                position: static;
                border: 0;
                margin-bottom: 5px;
            }
        }

        .full-bg-img {
            color: #fff;
        }

        .view {
            background: url("../../Content/img/bg/child-girl-happy.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        footer.page-footer {
            background-color: #7E929C;
        }

        .card.card-cascade {
            height: 100%;
            display: flex;
        }

        .card.card-cascade .card-body {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        #OurWork {
            cursor: pointer;
            cursor: hand;
        }

        #GetInvolved {
            cursor: pointer;
            cursor: hand;
        }

        #Donate {
            cursor: pointer;
            cursor: hand;
        }

        @@media (max-width: 1199px) and (min-width: 992px) {
            .view {
                height: calc(100vh - 125px);
            }
        }

        @@media (max-width: 992px) {
            .view {
                height: calc(100vh - 163px);
            }
        }

        @@media (min-width: 1200px) {
            .logo-container {
                background: url("../../Content/img/logo/MainLogo_color_scaled_noTagLine.png") left top no-repeat !important;
            }
        }

</style>
}


@section headerMask
{

    <!--Mask-->
    <div class="view hm-black-strong d-flex justify-content-center">
        <div class="full-bg-img flex-center align-items-center justify-content-md-start justify-content-sm-center" id="home">
            <ul class="text-center ml-5">
                <li>
                    <h1 class="h1-responsive wow fadeInUp">Clothe Our Kids of North Alabama</h1>
                </li>
                <li>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Giving Clothes. Showing Love. Building Confidence.</p>
                </li>
                <li>
                    <a href="@Url.RouteUrl("GetInvolved")" class="btn btn-outline-white btn-lg wow fadeInLeft" data-wow-delay="0.2s"><i class="fa fa-user left"></i> Get involved!</a>
                    <a href="@Url.RouteUrl("OurWork")" class="btn btn-outline-white btn-lg wow fadeInRight" data-wow-delay="0.2s"><i class="fa fa-book left"></i>Learn more</a>
                </li>
            </ul>            
        </div>  
        
        <div class="d-flex align-self-end justify-content-center mb-1">
            <i class="fa fa-angle-down fa-5x white-text" style="z-index: 5000;"></i>
        </div>
    </div>
    <!--/.Mask-->

    

}

<!-- Main container-->
<div class="container" style="z-index: 2000;">

    <!--Section: About Us-->
    <section class="section extra-margins" id="about">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Our Mission</h1>

        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.4s">
            Clothe Our Kids of North Alabama is a 501(c)(3) non-profit organization with a mission to provide clothing and hygiene items to children and teens in need in Morgan and Lawrence County Alabama. 
            <br />
            <br />
            We believe that every child deserves clothing that gives them confidence in who they are and who they can become. We also believe that giving clothing to kids not only meets one of their most basic needs but also gives them a glimpse of the love and compassion of Jesus.
            
            <br />
            <br />
            It is our hope that every child who receives a bag from us will understand one message:
            <br />
            <span style="font-size: 1.5rem;">You Are Loved</span>
            
        </p>
    </section>
    <!--/Section: About Us-->
</div>

<div id="RequestStreak" class="streak bg-light-green white-text" style="width: 100%;">
    <div class="flex-center">
        @*<h1 class="wow fadeIn"><span id="RequestCount">0</span> Kids Clothed</h1>*@            
        <h1 class="wow fadeIn"><span id="RequestCount" class="count">@Model.RequestCount</span> Kids Clothed</h1> 
    </div>
</div>

<div class="container" style="z-index: 2000;">
    <!--Section: Find Out More-->
    <section class="section mt-5" id="findOutMore">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Find Out More</h1>
        <!--Section description-->
        <p class="section-description wow fadeIn" data-wow-delay="0.4s">Learn more about us!</p>


        <div class="row mb-1 text-center">
            <div id="OurWork" class="col white-text mr-2">
                <div class="card card-cascade bg-red">
                    <div class="card-body text-center">
                        <div class="mb-1">
                            <h4 class="card-title">Our Work</h4>
                            <p class="card-text white-text">Learn how we operate and who we help</p>
                        </div>
                        
                        <div class="card-footer">
                            <p>Learn More <i class="fa fa-angle-right"></i></p>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-12 mt-2 d-sm-none"></div>

            <div id="GetInvolved" class="col mr-2">
                <div class="card card-cascade bg-light-blue" style="height: 100%;">
                    <div class="card-body text-center">
                        <div class="mb-1">
                            <h4 class="card-title">Get Involved</h4>
                            <p class="card-text white-text">Find ways to help the children in your county</p>
                        </div>
                        
                        <div class="card-footer">
                            <p>Join Us <i class="fa fa-angle-right"></i></p>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-12 mt-2 d-sm-none"></div>

            <div id="Donate" class="col">
                <div class="card card-cascade bg-yellow" style="height: 100%;">
                    <div class="card-body text-center">
                        <div class="mb-1">
                            <h4 class="card-title">Give</h4>
                            <p class="card-text white-text">Help us make sure we never have to turn a child away</p>
                        </div>
                        
                        <div class="card-footer">
                            <p>Donate Today <i class="fa fa-angle-right"></i></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Section: Find Out More-->

    <hr class="between-sections">

    <!--Section: Contact-->
    <section class="section" id="contact">
        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Contact Us</h1>

        <div class="row wow zoomIn" data-wow-delay="0.4s">

            <!--First column-->
            <div class="col-sm-8">
                <div id="map" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
            </div>

            <div class="col-12 d-sm-none">
                <p></p>
            </div>

            <!--Second column-->
            <div class="col-sm-4 align-self-center">
                <ul class="contact-icons">
                    <li>
                        <i class="fa fa-map-marker fa-2x"></i>
                        <p>Decatur, AL 35603, USA</p>
                    </li>

                    <li>
                        <i class="fa fa-phone fa-2x"></i>
                        <p>256 887 5437</p>
                    </li>

                    <li>
                        <i class="fa fa-envelope fa-2x"></i>
                        <p>info@givekidsclothes.com</p>
                    </li>
                </ul>
            </div>
            <!--.Second column-->

        </div>

    </section>
</div>
<!--/ Main container-->

@section scripts
{
    <script type="text/javascript">
        function initMap() {

            var var_location = new google.maps.LatLng(34.528204, -86.898599);

            var locations = [
                ['Clothe Our Kids of North Alabama', 34.528204, -86.898599, '317 AL-67, Decatur, AL 35603', '256-887-5437']
            ];

            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: new google.maps.LatLng(locations[0][1], locations[0][2])
            });

            var infowindow = new google.maps.InfoWindow();


            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    title: locations[i][0]
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        var contentString = '<div id="content">' +
                            '<h3 class="h3-responsive">' + locations[i][0] + '</h3>' +
                            '<p>' + locations[i][3] +
                            '<br>Trailer behind Priceville Junior High School, beside the Baseball fields'
                        '<br>' + locations[i][4] +
                            '</div>';
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xc4rPas-4JZpu2txBdfWUtKXASh2O1k&callback=initMap">
    </script>
}

@section customScript
{
    <script type="text/javascript">  

        $(document).ready(function () {

            //$('#navbar').addClass('navbar-dark').removeClass('navbar-light');

            setNavbar();

            $(window).on('resize', function () {
                setNavbar();
            });

            $('#OurWork').click(function () {
                var url = '@Url.RouteUrl("OurWork")';
                window.location = url
            });

            $('#GetInvolved').click(function () {
                var url = '@Url.RouteUrl("GetInvolved")';
                window.location = url
            });

            $('#Donate').click(function () {
                var url = '@Url.RouteUrl("Give")';
                window.location = url
            });

            var requestCount = @Model.RequestCount;
            var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
            var direction = 'down';

            var test = $('#RequestCount').prop('Counter');

            var waypoint = $('#RequestStreak').waypoint(function (direction) {
                $('.count').each(function () {
                    $(this).prop('Counter', 0).animate({
                        Counter: @Model.RequestCount
                    }, {
                            duration: 1500,
                            easing: 'swing',
                            step: function (now) {
                                $(this).text(Math.ceil(now));
                            }
                        });
                });
            },
            {
                offset: 'bottom-in-view'
            });
        });


        function setNavbar() {
            if ($('#largeScreenIndicator').is(':visible')) {
                $('#navbar').removeClass('navbar-light').addClass('navbar-dark');
            }
            else {            
                $('#navbar').removeClass('navbar-dark').addClass('navbar-light');
            }
        }       

    </script>   
}